<center>
  <p class="container text-danger"><%= flash[:error] %></p>
  <p class="container text-success"><%= flash[:notice] %></p>
</center>


<div id="title" class="jumbotron">
  <br/>
  <h1>Your Automated Jobs</h1>
  <br>
  <%= link_to '+ Execute Job', new_query_path, :class=>"add_campaign btn btn-primary btn-xl page-scroll" %>
</div>

<div class="table-display table-padding">

  <table class="table table-hover"> 
    <thead class="thead-dark">
      <tr class="text-center">
        <th scope="col">Source</th>
        <th scope="col">URL</th>
        <th scope="col">CSV File</th>
    </thead>
    
    <tbody class="text-center">
      <% @queries.each do |query| %>
        <tr>
          <td><%=query.source %></td>
          <td><%= query.url %></td>
          <td><%= query.file_download %></td>
        </tr>
      <% end %>
    </tbody>


  </table>
</div>