<div class="authform">
  <h3>Execute Job</h3>
  <%= form_for @query, :url => {:action => "create"}, html: { method: :post } do |f| %>

    
    <div class="form-group">
      <%= f.label :source %><br>
      <%= f.select(:source, [['indeed', 'indeed'],['yellow pages', 'yellow_pages']], :autofocus => true, class: 'form-control') %>
    </div>


    <div class="form-group">
      <%= f.label :keywords, "Job title, business type, keywords, or company"%>
      <%= f.text_field :keywords, :autofocus => true, required: true, class: 'form-control' %>
    </div>

        <div class="form-group">
      <%= f.label :location %>
      <%= f.text_field :location, :autofocus => true, required: true, class: 'form-control' %>
    </div>


    <%= f.submit 'Execute', :class => 'button' %>
  <% end %>
</div>