

<center>
  	<p class="container text-danger"><%= flash[:error] %></p>
  	<p class="container text-success"><%= flash[:notice] %></p>
</center>



<div id="title" class="jumbotron">
		<div class = "container">
	<br/>
		 <h1><%= @user.client_company.name %> Onboarding</h1>
		 <h2><%= @user.email if @user.email %></h2>
		</div>
</div>


<div class="container">

	<h3>Welcome to ScaleRep!</h3>

	<p style="margin-bottom:40px;">
		Below are the necessary steps to complete the ScaleRep onboarding process.<br/>
		E-mail your account manager <%= @user.client_company.account_manager %> with any questions!
	</p>

	<ul class="list-group list-group-flush">
		<li class="list-group-item">
			<h3>
				1. * Complete your <%= link_to " account information ", edit_client_companies_path(@client_company.id) %>(10 min.)

				<% if @user.client_company.profile_setup == true  %>
					&nbsp; <span class="badge badge-secondary">Completed</span>
				<% else %>
				  &nbsp; <span class="badge badge-secondary">Pending</span>
				<% end %>
			</h3>
		</li>

		<li class="list-group-item">
	    <h3>
				2. (optional) Add <%= @user.client_company.account_manager %> to your <a target="_blank" href="https://slack.com">slack team</a> to get help and ask questions (3 mins.)</a>

				
			</h3>
		</li>


		<li class="list-group-item">
			<p>Your account will be live once your e-mails have been set up. Contact your accout manager for updates.

				
			</p>
		</li>

		<li class="list-group-item">
			<h3>
				3. Start setting up your <%= link_to "persona campaigns" , client_companies_personas_path(@user.client_company) %>
					
			</h3>
		</li>


	</ul>

<% if false %>
    <h3> 3. <%= link_to "Setup Your Campaigns! (8 mins.)", { controller: "campaigns", action: "index", id: @user.id} %></h3>
    <br>
    <br>
<% end %>
</div>
