<center>
  <p class="container text-danger"><%= flash[:error] %></p>
  <p class="container text-success"><%= flash[:notice] %></p>
</center>


<div id="title" class="jumbotron">
  <br/>
  <h1>Download Contacts by Company</h1>
  <br>
  <%= link_to '+ Upload CSV', new_find_contact_path, :class=>"add_campaign btn btn-primary btn-xl page-scroll" %>
</div>

<div class="table-display">

  <table class="table table-hover"> 
    <thead class="thead-dark">
      <tr class="text-center">
        <th scope="col">Date Created</th>

        <th scope="col">Uploded File (.txt)</th>

        <th scope="col">Download Contacts (.csv)</th>
    </thead>
    
    <tbody class="text-center">
      <% @queries.each do |query| %>
        <tr>
          <td><%= query.created_at %></td>

          <% if query.csv_file.present? %>
            <td><%= link_to 'uploaded file', query.csv_file %> 
              <%=  %></a></td>
          <% else %>
            <td>uploading ...</td>
          <% end %>

          <% if query.download_file.present? %>
            <td><%= link_to 'dowload csv file', query.download_file %> 
              <%=  %></a></td>
          <% else %>
            <td>downloading ...</td>
          <% end %>
        </tr>
      <% end %>
    </tbody>


  </table>
</div>