<center>
  	<p class="container text-danger"><%= flash[:error] %></p>
  	<p class="container text-success"><%= flash[:notice] %></p>
</center>

<div class="authform">

	<h3>Download Contacts</h3>


	<%= form_for @query, :url => {:action => "create"}, html: { method: :post } do |f| %>

		<div class="form-group">
	      	<%= f.label :csv_file, "Upload CSV file with 'domain' header, and company domains in that column." %><br>
	      	<%= f.file_field :csv_file, :autofocus => true, required: true, class: 'form-control' %>
	    </div>

	  	<div class="form-group">
	      	<%= f.label :seniority, "Choose seniority. The possible values are: junior, senior or executive. Several levels can be selected (comma-delimited)."%>
	      	<%= f.text_field :seniority, :autofocus => true, class: 'form-control' %>
	    </div>

	   	<div class="form-group">
	      	<%= f.label :department, "Choose department(s). The possible values are: executive, it, finance, management, sales, legal, support, hr, marketing or communication. Several departments can be selected (comma-delimited)." %>
	      	<%= f.text_field :department, :autofocus => true, class: 'form-control' %>
	    </div>

	    <%= f.submit 'Download Contacts', :class => 'button' %>

	<% end %>
</div>