<div id="title" class="jumbotron">
  <div class = "container">
    <br/>
    <h1>Edit Persona</h1>
  </div>
</div>

<div>
<%= form_for @persona, url: client_companies_persona_path(@persona) do |f| %>
  <% if @persona.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(persona.errors.count, "error") %> prohibited this persona from being saved:</h2>

      <ul>
      <% @persona.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="container">
      <div class="form-group">
         <%= f.label :name, "Persona Title*", class: "control-label" %>
          <%= f.text_field :name, required: true, class: "form-control" %>
      </div>

      <div class="form-group">
          <%= f.label :description, "Persona Description", class: "control-label" %>
          <%= f.text_area :description, :rows => 5, :col => 5, class: "form-control" %>
      </div>

      <% if false %>
          <div class="form-group">
              <%= f.label :special_instructions, class: "control-label" %>
              <%= f.text_area :special_instructions, :rows => 5, :col => 5, class: "form-control" %>
          </div>
      <% end %>


  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-default btn-primary" %>
  </div>
  
    </div>
<% end %>

</div>

<div>

<div class = "container">
<%= link_to 'Back', client_companies_personas_path %>
</div>
