<center>
  <p class="container text-danger"><%= flash[:error] %></p>
  <p class="container text-success"><%= flash[:notice] %></p>
</center>

<div id="title" class="jumbotron">

  <br/>
  <h1><%= @user.client_company.name if @user.client_company %> Personas </h1>
  <br>
  <p> Personas group outreach campaigns into customer types.</p>
  <p> ex. <br>
  <i>Marketing Directors at financial companies with 11-50 employees with open sales positions</i><br>
  <i>Inbound leads from website form</i><br>
  <i>LinkedIn and Facebook inbound leads</i>

  </p>

  <%= link_to '+ Add Persona', new_client_companies_persona_path, :class=>"add_campaign btn btn-primary btn-xl page-scroll" %>
</div>



<div class="table-display clickable-row">

  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">persona</th>
        <th scope="col">people</th>
        <th scope="col">delivered</th>
        <th scope="col">bounces</th>
        <th scope="col">replies</th>
        <th scope="col">opens</th>
        <th scope="col"># campaigns</th>
        <th scope="col">edit </th>
        <th scope="col">delete</th>
      </tr>
    </thead>
    <tbody>
      <% @personas.each do |persona| %>
        <tr >
          <td><%= link_to persona.name, client_companies_campaigns_path(persona) %></td>

          <%  if @metrics_hash[persona] && @metrics_hash[persona][0] %>
             <td><%= @metrics_hash[persona][0] %></td>
          <% else %>
              <td>N/A</td>
          <% end %>

          <%  if @metrics_hash[persona] && @metrics_hash[persona][1] %>
             <td><%= @metrics_hash[persona][1] %></td>
          <% else %>
              <td>N/A</td>
          <% end %>

          <%  if @metrics_hash[persona] && @metrics_hash[persona][2] %>
             <td><%= @metrics_hash[persona][2] %></td>
          <% else %>
              <td>N/A</td>
          <% end %>

          <%  if @metrics_hash[persona] && @metrics_hash[persona][3] %>

                <%  if @metrics_hash[persona][0].to_i > @metrics_hash[persona][1].to_i  %>
                  <td><%= @metrics_hash[persona][3] %></td>

                <% else %>

                  <td><%= @metrics_hash[persona][3] %></td>

                <% end %>
          <% else %>
              <td>N/A</td>
          <% end %>

          <%  if @metrics_hash[persona] && @metrics_hash[persona][4] %>
             <td><%= @metrics_hash[persona][4] %></td>
          <% else %>
              <td>N/A</td>
          <% end %>

          <%  if @metrics_hash[persona] && @metrics_hash[persona][5] %>
             <td><%= @metrics_hash[persona][5] %></td>
          <% else %>
              <td>0</td>
          <% end %>

          <td><%= link_to '+', edit_client_companies_persona_path(persona) %></td>
          <td><%= link_to '--',  client_companies_persona_path(persona),  method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
$("tr[data-link]").click(function() {
  window.location = $(this).data("link")
})
</script>
