

<div id="title" class="jumbotron">
  <div class = "container">

    <br/>
    <h1>Account Settings</h1>
    <h2>Account Name: <%= @user.client_company.name if @user.client_company %></h2>

  </div>
</div>

<div class="container">

    <div>
      
      <%=   form_for @client_company, url: {action: 'update'} do |f| %> 
        
          <h3><%= @user.client_company.name if @user.client_company %> Account Details</h3>
          <br>
    

        
          <div class="form-group">

          <p> Every touchpoint sent using ScaleRep is catered by a ScaleRep representative.<br>Providing the below insights into <%= @user.client_company.name if @user.client_company %> allows ScaleRep representatives to create the best possible messaging!
          </p>

          <br>

            <%= f.label :description, 'Describe your company mission in a paragraph. What do your customers love about your product?*' %>
            <%= f.text_area :description, :rows => 10, :col => 10, :required => true, class: 'form-control' %>

          <br>

            <%= f.label :products, 'Describe your different product offerings.*' %>
            <%= f.text_area :products, :rows => 10, :col => 10, :required => true, class: 'form-control' %>

          <br>


            <%= f.label :notable_clients, 'Who are some of your former/current clients?*' %>
            <%= f.text_field :notable_clients, :required => true, class: 'form-control' %>


          </div>

        
          <%= f.submit 'Update Account', :class => 'button center' %>

        <% end %>
    </div>







</div>

