<div class="authform">
  <h3>Download Companies</h3>
  <p> Pull CSVs of companies with job postings, or pull a companies by location </p>
  <%= form_for @query, :url => {:action => "create"}, html: { method: :post } do |f| %>

    
    <div class="form-group">
      <%= f.label :source, "Search" %><br>
      <%= f.select(:source, [["search by location", "search by location"],["search by job postings", "search by job postings"]], :autofocus => true, class: 'form-control') %>
    </div>


    <div class="form-group">
      <%= f.label :keywords, "Job title, business type, keywords, or company"%>
      <%= f.text_field :keywords, :autofocus => true, required: true, class: 'form-control' %>
    </div>

        <div class="form-group">
      <%= f.label :location %>
      <%= f.text_field :location, :autofocus => true, required: true, class: 'form-control' %>
    </div>


    <%= f.submit 'Download CSV', :class => 'button' %>
  <% end %>
</div>